@import "tailwindcss";

html {
  font-size: 1.04vw;
}

html,
body {
  width: 100%;
  overflow: hidden;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #F1F7FA;
}

::-webkit-scrollbar {
  width: 0.3rem; /* Adjust the width to make it thinner */
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.25rem;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

a,
button{
  cursor: pointer;
}

