@import "tailwindcss";

html {
  font-size: 1.04vw;
}

html,
body {
  width: 100%;
  overflow: hidden;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #F1F7FA;
}

.sidebar{
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 0.3rem; /* Adjust the width to make it thinner */
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.25rem;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

a,
button{
  cursor: pointer;
}

.action-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  color: white;
  background: #4D8BFF;
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.action-btn:hover{
  background: #3A76E0;
}

.action-btn.create{
  background: #4CAF50;
}

.action-btn.back{
  background: #9E9E9E;
}

.action-btn.cancel{
  background: #757575;
}

select,
input{
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  border: 0.05rem solid #E0E0E0;
}

input, select{
  background: #F9FBFF;
}

table{
  font-size: 0.8rem;
}


thead tr{
  border-bottom: 0.05rem solid #E0E0E0;
}

thead .th-content{
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

table, td {
  padding: 0.8rem 0.5rem;
  box-sizing: border-box;
  text-align: left;
}

table tbody tr:not(:last-child){
  border-bottom: 0.05rem solid #E0E0E0;
}